*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow-clr: hsl(47, 88%, 63%);
    --white-clr: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    --font-size-para: 16px;
}

@font-face {
    font-family: 'Figtree';
    font-weight: 950;
    src: url('./assets/fonts/static/Figtree-ExtraBold.woff2') format('woff2'),
         url('./assets/fonts/static/Figtree-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Figtree';
    font-weight: 500;
    src: url('./assets/fonts/static/Figtree-Medium.woff2') format('woff2'),
         url('./assets/fonts/static/Figtree-Medium.woff') format('woff');
}

body {
    background-color: var(--yellow-clr);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Figtree';
    color: var(--gray-950);
    font-weight: 950;
}

.card-container {
    background-color: var(--white-clr);
    width: 384px;
    height: 522px;
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px var(--gray-950);
    padding: 24px;
}

.card-tag {
    font-size: 14px;
    background-color: var(--yellow-clr);
    padding: 4px 12px;
    border-radius: 4px;
    line-height: 150%;
}