*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow-clr: hsl(47, 88%, 63%);
    --white-clr: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    --font-size-para: 16px;
}

@font-face {
    font-family: 'Figtree';
    font-weight: 950;
    src: url('./assets/fonts/static/Figtree-ExtraBold.woff2') format('woff2')
         url('./assets/fonts/static/Figtree-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Figtree';
    font-weight: 500;
    src: url('./assets/fonts/static/Figtree-Medium.woff2') format('woff2')
         url('./assets/fonts/static/Figtree-Medium.woff') format('woff');
}

